

/* header */

.container {
    padding-top: 30px;
    padding-bottom: 133px;
    background-image: url(../img/header/bassroom-bg.jpg);
    border-bottom: 1px solid #fff;
}
.contacts {
  
    
}

.contacts-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts-burger {
    width: 42px;
    height: 36px;
    fill: #FFF;
}
.contacts-title {
    width: 146px;
    height: 40px;
    margin-left: 130px;
    color: #FFF;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 20px; /* 125% */
text-transform: uppercase;
}
.contacts-list {
    display: flex;
    gap: 72px;
    margin-left: 78px;
    align-items: center;
}
.contacts-list-item {
    width: 193px;
    color: #FFF;
font-family: Manrope;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.contacts-internet {
    display: flex;
    gap: 5px;

}
.contacts-internet-item {
}
.contacts-internet-item-link {
}
.contacts-internet-item-link-icon {
    width: 30px;
    height: 30px;
}
.main {
    padding-top: 20px;
}
.main-container {
    display: flex;
    gap: 95px;
    margin-bottom: 98px;
    justify-content: center;
    align-items: center;
}
.main-list {
    display: flex;
    gap: 26px;
}
.main-list-item {
    color: #FFF;
font-family: Manrope;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 171.429% */
}
.main-btn {
    width: 240px;
height: 57px;
padding: 16px 57px 17px 67px;
    color: #FFF;
font-family: Manrope;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 171.429% */
border: 1px solid transparent;
border-radius: 25px;
background: #73C1F2;
}
.main-title {
    width: 327px;
    color: #FFF;
text-align: center;
font-family: Manrope;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 50px; /* 125% */
text-transform: uppercase;
}
.main-all-btn {
}
.main-all-catalog-btn {
    width: 240px;
height: 57px;
padding: 16px 36px 17px 67px;
border: 1px solid transparent;
border-radius: 25px;
background: #73C1F2;
    color: #FFF;
font-family: Manrope;
font-size: 13px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 171.429% */
}
.main-all-consultaition-btn {
    width: 240px;
    height: 57px;
    padding: 16px 36px 17px 73px;
    border: 1px solid transparent;
    border-radius: 25px;
    background: #73C1F2;
        color: #FFF;
    font-family: Manrope;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 171.429% */
}

@media (min-width: 1080px) {

    .container {
        padding-top: 22px;
        padding-bottom: 22px;
        
    }
    .contacts {
        padding-bottom: 22px;
        border-bottom: 1px solid #fff;
        
    }
    .main-title {
        width: 591px;
        font-size: 65px;
    }
}


/* section  equipment */

.equipment {
    
    padding: 42px 0;
}
.equipment-container {
    width: 347px;
    margin: 0 auto;
}
.equipment-title {
    margin-bottom: 30px;
    color: #606060;
text-align: center;

font-size: 32px;
font-style: normal;
font-weight: 800;
/* line-height: 3.9;   */
text-transform: uppercase;
}
.equipment-list {
    width: 242px;
    margin: 0 auto;
}
.equipment-list-item {
    width: 246px;
    height: 291px;
   
}
.equipment-list-item:not(:last-child) {
    margin-bottom: 30px;
}
.equipment-list-item-image {
    width: 240px;
    height: 240px;
    margin-bottom: 11px;
    border-radius: 20px;
border: 3px solid #FFF;

}
.equipment-list-item-text {
    color: #606060;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
/* line-height: 1.953;  */
}


@media (min-width: 1080px) {

    .equipment  {
        padding-top: 46px;
        padding-bottom: 60px;
        background: linear-gradient(266deg, rgba(169, 198, 216, 0.90) 1.59%, rgba(60, 156, 217, 0.90) 97.25%), url(../img/equipment/equipment-bg-comp.jpeg);
        /* background-image: url(../img/equipment/equipment-bg-comp.jpeg); */
        background-size: cover; 
    }

    .equipment-container {
       width: 892px;
      
    }

    .equipment-title {
        width: 827px;
        color: #FFF;
    }

    .equipment-list {
        width: auto;
       
    } 

    .equipment-list {
        display: flex;
        gap: 85px;
        flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap; */
    }

    .equipment-list-item:not(:last-child) {
        margin-bottom: 0;
    }
    .equipment-list-item-text {
        color: #FFF; 
    }

}



/* footer contact */

.contact {
    padding-top: 39px;
}
.contact-conteiner {
}
.contact-call {
    width: 255px;
    margin: 0 auto;
}
.contact-call-title-mob {
    color: #606060;
text-align: center;
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: 122%; /* 39.04px */
text-transform: uppercase;
}
.contact-call-title-comp {
    display: none;
    margin-bottom: 16px;
    color: #606060;
font-family: Manrope;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: 30px; /* 125% */
text-transform: uppercase;
}
.contact-call-list-ad {
    position: relative;
    margin-bottom: 28px;
}
.contact-call-list-ad-item {
    padding-left: 31px;
    color: #606060;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}


.contact-call-list-ad-item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 15px;
    height: 15px; 
    transform: translateY(-50%);
    background-image: url(../img/footer/icon-befor.svg#icon-place);
    /* background-color: #0D5C63; */
}

.contact-call-list-ad-item:not(:last-child) {
    margin-bottom: 23px;
}

.contact-call-list-internet {
    display: flex;
    gap: 16px;
    
}
.contact-call-list-internet-item {
    /* width: 42px;
    height: 42px; */
}
.contact-call-list-internet-item-link {
    width: 42px;
    height: 42px;
}


.contact-call-list-internet-item-link-img {
    display: block;
    width: 42px;
    height: 42px;
    /* background-color: #0D5C63; */
}



.contact-call-btn {
    width: 240px;
height: 57px;
margin-bottom: 28px;
border: 1px solid transparent;
border-radius: 25px;
background: #73C1F2;
    color: #FFF;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 24px; /* 171.429% */
}
.contact-map {
}




@media (min-width: 1080px) {

    .contact-conteiner {
        display: flex;
        gap: 13px;
        width: 1240px;
        margin: 0 auto;
        align-items: center;
    }
    .contact-call {
        
       
    }

    .contact-call-title-mob {
        display: none;
    }

       .contact-call-title-comp {
        display: block;
        
    }

    .contact-call-btn {
        display: none;
    }

    .contact-map {
        width: 990px;
    }
    
}