
/* section  equipment */

.equipment {
    
    padding: 42px 0;
}
.equipment-container {
    width: 347px;
    margin: 0 auto;
}
.equipment-title {
    margin-bottom: 30px;
    color: #606060;
text-align: center;

font-size: 32px;
font-style: normal;
font-weight: 800;
/* line-height: 3.9;   */
text-transform: uppercase;
}
.equipment-list {
    width: 242px;
    margin: 0 auto;
}
.equipment-list-item {
    width: 246px;
    height: 291px;
   
}
.equipment-list-item:not(:last-child) {
    margin-bottom: 30px;
}
.equipment-list-item-image {
    width: 240px;
    height: 240px;
    margin-bottom: 11px;
    border-radius: 20px;
border: 3px solid #FFF;

}
.equipment-list-item-text {
    color: #606060;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
/* line-height: 1.953;  */
}


@media (min-width: 1080px) {

    .equipment  {
        padding-top: 46px;
        padding-bottom: 60px;
        background: linear-gradient(266deg, rgba(169, 198, 216, 0.90) 1.59%, rgba(60, 156, 217, 0.90) 97.25%), url(../img/equipment/equipment-bg-comp.jpeg);
        /* background-image: url(../img/equipment/equipment-bg-comp.jpeg); */
        background-size: cover; 
    }

    .equipment-container {
       width: 892px;
      
    }

    .equipment-title {
        width: 827px;
        color: #FFF;
    }

    .equipment-list {
        width: auto;
       
    } 

    .equipment-list {
        display: flex;
        gap: 85px;
        flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap; */
    }

    .equipment-list-item:not(:last-child) {
        margin-bottom: 0;
    }
    .equipment-list-item-text {
        color: #FFF; 
    }

}



/* footer contact */

.contact {
    padding-top: 39px;
}
.contact-conteiner {
}
.contact-call {
    width: 255px;
    margin: 0 auto;
}
.contact-call-title-mob {
    color: #606060;
text-align: center;
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: 122%; /* 39.04px */
text-transform: uppercase;
}
.contact-call-title-comp {
    display: none;
    margin-bottom: 16px;
    color: #606060;
font-family: Manrope;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: 30px; /* 125% */
text-transform: uppercase;
}
.contact-call-list-ad {
}
.contact-call-list-ad-item {
    color: #606060;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.contact-call-list-ad-item:not(:last-child) {
    margin-bottom: 23px;
}

.contact-call-list-internet {
}
.contact-call-list-internet-item {
}
.contact-call-list-internet-item-link {
}
.contact-call-list-internet-item-link-img {
}
.contact-map {
}




@media (min-width: 1080px) {


    .contact-call {
        width: 1240px;
       
    }

    .contact-call-title-mob {
        display: none;
    }

       .contact-call-title-comp {
        display: block;
        
    }

    
    
}